<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>
<!--环境-->
<environments default="development">
<!--环境之一-->
<environment id="development">
<!--使用jdbc的事务管理-->
<transactionManager type="JDBC"/>
<dataSource type="POOLED">
<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--
useSSL=true ：设置为安全连接
&amp; ：&符号在xml文件中需要转义，&amp;相当于一个&符号
useUnicode=true ：参照unicode表
characterEncoding=utf8 ：使用utf-8编码
MySql8需要配置时区！
-->
<property name="url"
value="jdbc:mysql://localhost:3306/mybatis"/>
<property name="username" value="root"/>
<property name="password" value="Root"/>
</dataSource>
</environment>
</environments>

<!--每一个Mapper.xml都需要在Mybatis核心配置文件中注册-->
<mappers>
<mapper resource="com/grts/demo2/UserDao.xml"/>
</mappers>
</configuration>